*{
    padding: 0;
    margin: 0;
}

/* Här börjar css för nav link */
.nav ul{
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #082032;
    list-style-type: none;

}

.nav li{
    float: left;
    
}

.nav li a{
    display: block;
    padding: 10px 0px 10px 100px;
    font-family: 'Besley', serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.nav li a:hover{
    text-decoration: none;
    color: red;
    animation-name: spin;
    animation-duration:700ms;
    animation-iteration-count: inherit;
    width: 100%;
}

.questHtml 
{
 color: black;
}

.kvadrat{
    margin: 40px 0px 0px 120px;
    width: 320px;
    height: 320px;
    background-color: grey;
    box-shadow: 0 12px 10px 0 rgba(0,0,0, .5);
    float: left;
}

.ulone li{
    padding: 0px 0px 0px 0px;
    list-style-type: "⮕";
    margin:20px;
    list-style-position: inside;
    font-family:'Besley', serif;
    font-size: 1.5rem;
}

.tagone{
    text-align: center;
    font-family:'Besley', serif;
    font-size: 20px;
}

.grid-container{
  display: grid ;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: none;
  padding: 2px

}

.grid-item1{
   
    padding:10px;
    font-size: 20px;
    text-align: center;
    color:red;
}

.grid-item2{
   
    padding:10px;
    font-size: 20px;
    text-align: center;
    color: orange;
}

.grid-item2-2{
   
    padding: 0px 40px 0px 0px;
     font-size: 20px;
     text-align: center;
     color: orangered;
 }
 

.grid-item2-2-1{
   
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: orangered;
}


.grid-item3{
   
    padding:10px;
    font-size: 20px;
    text-align: center;
    color: green;
}


.grid-item4{
    
    padding:10px;
    font-size: 20px;
    text-align: center;
    color: turquoise;
}


.grid-item5{
   
    padding:10px;
    font-size: 1rem;
    text-align: center;
    color: blue;
}

.center{
    text-align: center; 
    padding-top: 50px;
   
}

.centerimageone{
    text-align: center;
    padding-top: 20px;
}

.answerHtml{
    margin-bottom: 500px;
    text-align: center;
    vertical-align:middle;
    width: 100%;
}
/* Här är min element */
h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

.answertextone{
font-size: 1rem;
 word-break: keep-all;
}

.httpimg{
    text-align: center;
    width: 100%;
}

.tcpimg{
    padding-top: 50px;
    text-align: center;
    width: 100%;
}

.ipimg{
    padding-top: 10px;
   padding-left:30px;
    width: 80%;
}
/* Här min id */
#element{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
}

#elementtwo{
 font-size: 1rem;
 word-break: keep-all;
 font-family: 'Times New Roman', Times, serif;
}

#center{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

.csstextone{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.csstexttwo{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.cssquest{
    text-align: center;
}


@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}


@media only screen and ( max-width: 1680px) {
    .answerHtml{
       margin-left: 100px;
       text-align: center;
       vertical-align: center;
        
    }
    .secone{
        margin-left: 100px;
    }
   
  }